---
const numero = "(+51)926 991 978"
const correo = "informes@linkea2.pe"
---


<header>
    <p>{numero}</p>
    <p>{correo}</p>
</header>


<style>
    header {
        background-color: #c9182b;
        color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
    }
    p {
        margin: 0.4em;
        font-size: 14px;
    }
</style>

