<article>
  <div class="parte1">
    <h1>¿Estás interesado en algún servicio de Linkea2?</h1>
    <p>Si estás interesado(a) en alguno de nuestros servicios, completa este formulario.</p>
  </div>
  <div class="parte2">
    <input class="text" type="text" placeholder="Servicios"></input>
    <input class="text" type="text" placeholder="Nombre y apellidos"></input>
    <input class="text" type="text" placeholder="Correo electronico"></input>
    <input class="text" type="text" placeholder="Numero de contacto"></input>
    <input class="largo" type="text" placeholder="Nombre de tu empresa"></input>
    <input class="check" type="checkbox">He leído y acepto la política de Términos y condiciones y la Política de Privacidad.</input>
    <input class="boton" type="button" value="Enviar"></input>
  </div>
</article>

<style>
  article {
    display:flex;
    background-color: #bf172a;
    color: #fff;
    height: 25em;
    justify-content: center;
    align-items: center;
  }

  input {
    border: #fff;
  }

  .largo {
    display: block;
    width: 98%;
    height: 3em;
    margin: 3px;
  }

  .text {
    height: 3em;
    width: 48%;
    margin: 3px;
  }

  .parte1 {
    width: 50%;
    min-width: 100px;
  }

  .parte2 {
    display: block;

  }

  .boton {
    border: #fff;
    background-color: #fff;
    padding: 1em 47%;
    margin: 14px 0;
  }
</style>