<article>
    <div class="container">
        <img src="logo-linkea2.png" />
        <div class="container-pequeño">
            <h1>¡Hola!</h1>
            <img
                class="icon"
                src="https://s.w.org/images/core/emoji/14.0.0/svg/1f44b.svg"
            />
        </div>
        <h3>Bienvenido a nuestra Agencia de Marketing Digital Estratégico</h3>
        <h4>12 años compartiendo y conectando</h4>
        <img
            class="icon"
            src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1f5-1f1ea.svg"
        />
        <img
            class="icon"
            src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1ea-1f1e8.svg"
        />
        <img
            class="icon"
            src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1f2-1f1fd.svg"
        />
        <img
            class="icon"
            src="https://s.w.org/images/core/emoji/14.0.0/svg/1f1e8-1f1f4.svg"
        />
    </div>
</article>

<style>
    article {
        background-image: url("fondo.avif");
        background-size: cover;
        background-repeat: no-repeat;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-pequeño {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center;
    }

    img {
        width: 100px;
        height: 100px;
    }

    h1 {
        color: #c9182b;
        font-size: 40px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    .icon {
        width: 40px;
    }
</style>
