<footer>
    <div>
        <img src="logo-linkea2.png" />
        <p>(+51) 926 991 978</p>
        <p>informes@linkea2.pe</p>
    </div>
    <div><p>Jirón Fernando Faustor 489A Dpto 301 Santiago de Surco</p></div>
    <div>
        <ul>
            <li>Inicio</li>
            <li>Servicios</li>
            <li>Testimonio</li>
            <li>Equipo</li>
            <li>Clientes</li>
            <li>Blog</li>
            <li>Contacto</li>
        </ul>
    </div>
</footer>
<div class="pie">
    <p>Linkea2 Comunicaciones & Marketing SAC 2023 - Todos los derechos reservados ®</p>
</div>

<style>
    footer {
        display: flex;
        background-color: #000;
        color: #fff;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
    }

    ul {
        text-align: left;
    }

    div {
        width: 33%;
        
    }

    .pie {
        display: block;
        width: 100%;
        height: 2em;
        text-align: center;
        color: #fff;
        background-color: #1e293b;
        padding: 2px 0;
    }

    p {
        margin: 0;
    }
</style>
